/* header and body*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-y: scroll; /* Add vertical scrolling */
}
  
.header {
    background: linear-gradient(135deg, #2dbe60, #00c19e);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.header h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
  
.header p {
    font-size: 18px;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Search button*/
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .action-button {
    background-color: transparent;
    color: #2dbe60;
    border: 2px solid #2dbe60;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s ease-in-out;
  }
  
  .action-button:hover {
    background-color: #2dbe60;
    color: #fff;
    box-shadow: 0 0 3px 3px rgba(45, 190, 96, 0.3);
  }

/* the div for cards*/
.container {
    border: 2px solid #00796b; /* Teal green color like Evernote */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 121, 107, 0.5); /* Shadow effect */
    padding: 20px;
    margin: 20px;
}

.items-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    height : 100%; /* Adjust the maximum height as needed */
  }

.card {
    border: 2px solid #2dbe60; /* Teal green color like Evernote */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 121, 107, 0.5); /* Shadow effect */
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    width : 100%;
    height : 50vh;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
  }

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }


/* overlay for the cards*/

.overlay2 {
  display: flex;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: 1000;
  
  
}

.overlay2-content {
  
  margin-bottom: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  overflow: auto; /* Add scrollbar when content overflows */
  width: 60%;
  max-height: 90vh
}

.overlay2-content::-webkit-scrollbar {
  width: 0 !important;
}

.overlay2-content img {
  display: block;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  

}
