<!DOCTYPE html>
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Lost page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_lost_page.css') }}">
</head>
<body style="background-color: #f9f9f9;">
    <header class="header">
        <h1>Lost and Found</h1>
        <p>For a COEPian, By a COEPian!</p>
      </header>

      <div class="button-container">
        <button class="action-button" >Search</button>
      </div>

      <div class="container">
        <div class="items-title">Your Items</div>
        <div class="grid-container" id="items-container">
          <!-- Add your items here -->
        </div>
      </div>
      <script src="{{ url_for('static', filename='js/lost_page.js') }}"></script>
</body>
</html>